/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: #90afff;}
  #Impacts {background-color: green;}
  #Future {background-color: blue;}
  #Change {background-color: orange;}
  #Contacts {background-color: #90afff;}

  * {
    box-sizing: border-box;
}
/*v This is for the slides*/
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: grey;
    font-family: cursive;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar a:hover {
    background-color: white;
}

.column{
    column-count: 100px 3;

}