* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: grey;
    font-family: cursive;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar a:hover {
    background-color: white;
}

.column{
    column-count: 100px 3;

}