* {
    box-sizing: border-box;
    border: 5px #4F619B;
}

.navbar {
    width: 100%;
    background-color: #4F619B;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: serif;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar a:hover {
    background-color: #DF7F7F;
}

.column {
    float: left;
    width: 32.8%;
    font-family: serif;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#body{
    background-color: #D6E1F0
}
  